
<!doctype html>
<html>
<head>
<title>Yoneticiler</title>   
    <meta charset="utf-8"/>
</head>  

    <body>       
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Yoneticiler</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="/yoneticiSiteler">Yonetici Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/ysGreen" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/ysBeyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/ysOnurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/ysElmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>              
            </div>            
          </div>

          <table _ngcontent-c4="" class="table table-hover table-sm z-depth-1 ng-star-inserted">
            <tbody _ngcontent-c4=""><tr _ngcontent-c4="">
              <td _ngcontent-c4="" class="text-center" colspan="7">
                <h3 _ngcontent-c4="">Onurkent Sitesi </h3>
              </td>
            </tr>
        
            <tr _ngcontent-c4="" class="table-info">
                &nbsp; &nbsp;
              <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4="" placement="top">Daire No</a></b></td>
              <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4=""  placement="top">Yonetici Adı</a>
                </b></td>
              <td _ngcontent-c4=""><b _ngcontent-c4="">E-Posta</b></td>
              <td _ngcontent-c4=""><b _ngcontent-c4="">Telefon</b></td>
              
        
        
            </tr>
            <!----><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
                <td _ngcontent-c4="">5</td>
      <td _ngcontent-c4="">İsmail Coşan</td>
      <td _ngcontent-c4="">imlcsn21@gmail.com</td>
      <td _ngcontent-c4="">05341285263</td>                         
            </tr>
           
          </tbody></table>

    </body>
</html>
