
<!doctype html>
<html>
<head>
<title>Anasayfa</title>   
    <meta charset="utf-8"/>
</head>  

    <body bgcolor="blue">       
        
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12" >
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Anasayfa</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="/siteler">Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/green" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/beyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/onurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/elmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>              
            </div>            
          </div> <br> <br> <br>     
          <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Yoneticiler</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="/yoneticiSiteler">Yonetici Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/ysGreen" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/ysBeyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/ysOnurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/ysElmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>              
            </div>            
          </div> <br> <br> <br>  

          <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Aidat</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="">Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/aGreen" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/aBeyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/aOnurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/aElmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>
            </div>
            <div _ngcontent-c4="" class="col-md-3">
           </div>
          </div>
    </body>
</html>
