
<!doctype html>
<html>
<head>
<title>Siteler</title>   
    <meta charset="utf-8"/>
</head>  

    <body>       
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
                <h4 _ngcontent-c4="">&nbsp; &nbsp; Aidat</h4>
                <hr _ngcontent-c4="">
                <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                  <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                    <option _ngcontent-c4="" value="">Site Seçiniz</option>
                    <option _ngcontent-c4="" value="/aGreen" class="ng-star-inserted">Green Garden</option>
                    <option _ngcontent-c4="" value="/aBeyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                    <option _ngcontent-c4="" value="/aOnurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                    <option _ngcontent-c4="" value="/aElmali" class="ng-star-inserted">Elmalı Sitesi</option>
                  </select>
             </div>
              
            </div>
            <div _ngcontent-c4="" class="col-md-3">
          
          
          
            </div>
          </div>

<table _ngcontent-c4="" class="table table-hover table-sm z-depth-1 ng-star-inserted">
    <tbody _ngcontent-c4=""><tr _ngcontent-c4="">
      <td _ngcontent-c4="" class="text-center" colspan="7">
        <h3 _ngcontent-c4="">Beyaz Bahçe Konakları</h3>
      </td>
    </tr>

    <tr _ngcontent-c4="" class="table-info">
        &nbsp; &nbsp;
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4="" placement="top">Daire No</a></b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4=""  placement="top">Daire Sahibi</a>
        </b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">Aylık ödenmesi geren</b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">Durum</b></td>
      


    </tr>
    <!----><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">1</td>
      <td _ngcontent-c4="">Kadir Cankaya</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>
      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">2</td>
      <td _ngcontent-c4="">Murat Çankaya</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">3</td>
      <td _ngcontent-c4="">İsmail Adıgüzel</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">4</td>
      <td _ngcontent-c4="">Cihan Akpınar</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödenmedi</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">5</td>
      <td _ngcontent-c4="">Gülşah Tülay Çankaya</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>

      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">6</td>
      <td _ngcontent-c4="">Kadir Çırak</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">7</td>
      <td _ngcontent-c4="">Turgut Çırak</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödenmedi</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">8</td>
      <td _ngcontent-c4="">Songül Çırak</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">9</td>
      <td _ngcontent-c4="">Umut Çırak</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödenmedi</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">10</td>
      <td _ngcontent-c4="">Muhammed Çırak</td>
      <td _ngcontent-c4="">120₺</td>
      <td _ngcontent-c4="">Ödendi</td>
     
      
    </tr>
   
  </tbody></table>



    </body>
</html>
