
<!doctype html>
<html>
<head>
<title>Siteler</title>   
    <meta charset="utf-8"/>
</head>  

    <body>       
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Siteler</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="/siteler">Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/green" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/beyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/onurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/elmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>
              
            </div>
            <div _ngcontent-c4="" class="col-md-3">
          
          
          
            </div>
          </div>

<table _ngcontent-c4="" class="table table-hover table-sm z-depth-1 ng-star-inserted">
    <tbody _ngcontent-c4=""><tr _ngcontent-c4="">
      <td _ngcontent-c4="" class="text-center" colspan="7">
        <h3 _ngcontent-c4="">Elmalı Sitesi</h3>
      </td>
    </tr>

    <tr _ngcontent-c4="" class="table-info">
        &nbsp; &nbsp;
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4="" placement="top">Daire No</a></b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4=""  placement="top">Daire Sahibi</a>
        </b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">E-Posta</b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">Telefon</b></td>
      


    </tr>
    <!----><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">1</td>
      <td _ngcontent-c4="">Emine Akça</td>
      <td _ngcontent-c4="">emine@gmail.com</td>
      <td _ngcontent-c4="">05387451241</td>
      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">2</td>
      <td _ngcontent-c4="">Sevinç Ak</td>
      <td _ngcontent-c4="">aksevinc@gmail.com</td>
      <td _ngcontent-c4="">05347452142</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">3</td>
      <td _ngcontent-c4="">Abdülkadir Koçer</td>
      <td _ngcontent-c4="">akocer@gmail.com</td>
      <td _ngcontent-c4="">05065421575</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">4</td>
      <td _ngcontent-c4=""> Ahmet Akkoyun </td>
      <td _ngcontent-c4="">akkoyunahmet@gmail.com</td>
      <td _ngcontent-c4="">05354568232</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">5</td>
      <td _ngcontent-c4="">Ayça Bilge</td>
      <td _ngcontent-c4="">bilgeayca@gmail.com</td>
      <td _ngcontent-c4="">05341285263</td>
    </tr>
   
  </tbody></table>



    </body>
</html>
