
<!doctype html>
<html>
<head>
<title>Siteler</title>   
    <meta charset="utf-8"/>
</head>  

    <body>       
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Siteler</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="/siteler">Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/green" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/beyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/onurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/elmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>
              
            </div>
            <div _ngcontent-c4="" class="col-md-3">
          
          
          
            </div>
          </div>

<table _ngcontent-c4="" class="table table-hover table-sm z-depth-1 ng-star-inserted">
    <tbody _ngcontent-c4=""><tr _ngcontent-c4="">
      <td _ngcontent-c4="" class="text-center" colspan="7">
        <h3 _ngcontent-c4="">Beyaz Bahçe Konakları</h3>
      </td>
    </tr>

    <tr _ngcontent-c4="" class="table-info">
        &nbsp; &nbsp;
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4="" placement="top">Daire No</a></b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4=""><a _ngcontent-c4=""  placement="top">Daire Sahibi</a>
        </b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">E-Posta</b></td>
      <td _ngcontent-c4=""><b _ngcontent-c4="">Telefon</b></td>
      


    </tr>
    <!----><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">1</td>
      <td _ngcontent-c4="">Kadir Cankaya</td>
      <td _ngcontent-c4="">cankayakadir99@gmail.com</td>
      <td _ngcontent-c4="">05363791872</td>
      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">2</td>
      <td _ngcontent-c4="">Murat Çankaya</td>
      <td _ngcontent-c4="">cankayamurat71@gmail.com</td>
      <td _ngcontent-c4="">05541641475</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">3</td>
      <td _ngcontent-c4="">İsmail Adıgüzel</td>
      <td _ngcontent-c4="">adiguzeliso34@gmail.com</td>
      <td _ngcontent-c4="">053425332141</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">4</td>
      <td _ngcontent-c4="">Cihan Akpınar</td>
      <td _ngcontent-c4="">akpinarcihan@gmail.com</td>
      <td _ngcontent-c4="">05375412586</td>


      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">5</td>
      <td _ngcontent-c4="">Gülşah Tülay Çankaya</td>
      <td _ngcontent-c4="">tulay@gmail.com</td>
      <td _ngcontent-c4="">05399595818</td>

      
      
    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">6</td>
      <td _ngcontent-c4="">Kadir Çırak</td>
      <td _ngcontent-c4="">cirakkadir@gmail.com</td>
      <td _ngcontent-c4="">05548545454</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">7</td>
      <td _ngcontent-c4="">Turgut Çırak</td>
      <td _ngcontent-c4="">cirakturgut@gmail.com</td>
      <td _ngcontent-c4="">05548545454</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">8</td>
      <td _ngcontent-c4="">Songül Çırak</td>
      <td _ngcontent-c4="">songulcirak@gmail.com</td>
      <td _ngcontent-c4="">05548545454</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">9</td>
      <td _ngcontent-c4="">Umut Çırak</td>
      <td _ngcontent-c4="">umut54@gmail.com</td>
      <td _ngcontent-c4="">05548545454</td>

    </tr><tr _ngcontent-c4="" class="ng-star-inserted">&nbsp; &nbsp;
      <td _ngcontent-c4="">10</td>
      <td _ngcontent-c4="">Muhammed Çırak</td>
      <td _ngcontent-c4="">mami@gmail.com</td>
      <td _ngcontent-c4="">05548545454</td>
     
      
    </tr>
   
  </tbody></table>



    </body>
</html>
