
<!doctype html>
<html>
<head>
<title>Aidat</title>   
    <meta charset="utf-8"/>
</head>  

    <body>       
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-12">
          
              <h4 _ngcontent-c4="">&nbsp; &nbsp; Aidat</h4>
              <hr _ngcontent-c4="">
              <div _ngcontent-c4="" class="form-inline">&nbsp; &nbsp;
                <select _ngcontent-c4="" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                  <option _ngcontent-c4="" value="">Site Seçiniz</option>
                  <option _ngcontent-c4="" value="/aGreen" class="ng-star-inserted">Green Garden</option>
                  <option _ngcontent-c4="" value="/aBeyazBahce" class="ng-star-inserted">Beyaz Bahçe Konakları</option>
                  <option _ngcontent-c4="" value="/aOnurkent" class="ng-star-inserted">Onurkent Sitesi</option>
                  <option _ngcontent-c4="" value="/aElmali" class="ng-star-inserted">Elmalı Sitesi</option>
                </select>
             </div>
            </div>
            <div _ngcontent-c4="" class="col-md-3">
           </div>
          </div>
    </body>
</html>
